@model Order

<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
	<h4>Confirm your purchase.</h4>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-5">
			<input type="submit" class="btn order-btn" value="Complete Order" />
		</div>
	</div>
</form>